body{
    font-family:sans-serif;
    margin:0 ;
    bacjground-color: #fafafa;
    height:400px;
}
header{
    position:fixed;
    top:0;
    width:100%;
    background-color:white;
    border-bottom: 1px solid #dbdbdb;
    text-align:center;
}
