body{
    background-color:#FFE4E6;
    text-align: center;

}

h2{
    font-size: 68px;
}

h1{
    font-size: 46px;
}

h3{
    font-size: 32px;
}

.form{
    font-size: 24px;
    border-radius: 16px;
}


