.instrument {
    background-color:whitesmoke;
    width: 128px;
    text-align: center;
    border-radius:16px;
}

.active{
    background-color:#FFD700;
    color:white;
}

#box{
    display:flex;
    justify-content: space-around;
    gap: 32px;
}

body{
    background-color: #5F9EA0;
}

h1{
    text-align: center;
}
