


header{
    top:0;
    width:100%;

    margin-bottom: 0;
    z-index: 99999;
    height: 100px;
    text-align:center;
}

#header1{
        font-size:60px;
    background-color:#4169E1;
}

#nav1 {
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 30px;

}




#spacearound {
    padding: 1rem;
    display:flex;
    justify-content: space-around;
}

.box{
    text-align: center;
}

#footer{
top:12;
justify-content: bottom;
padding: 1rem;
}
p{
    text-align: center;
    font-size: 40px;


}
