*{
    height:100px;
    weight:100px;
}

/* GABO*/
header{
    top:0;
    width:100%;
    background-color:#4169E1;
    text-align:center;
    font-size:60px;
    margin-bottom: 0;
    z-index: 99999;
    height: 100px;

}

nav {
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 30px;
}



/* GABO*/


#spacearound {
    padding: 1rem;
    display:flex;
    justify-content: space-around;
}

.box{
    text-align: center;
}

#footer{
top:12;
justify-content: bottom;
padding: 1rem;
}
p{
    justify-content: bottom;
    font-size: 40px;
}
