h1 {
    text-align: center;
    font-size: 64px;

}

button {
    height: 32px;

    width: 64px;
}

body{
    text-align: center;
    height: 40000px;

}

.column{
    width: 800px;
    background-color: #D4D4D8;
    height:100%;
    margin: auto;

}
